#room-table{
    width:100%;  
   
  
    font-family:Helvetica;
  }

.btn-lg{
 
    width: 105px;
    position:relative;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 6px;
  
  }

  #display{
    height: 50px;
    position:relative;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 6px;
  
  }


