
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Davi Moraes - 2017322">
  
  <title>Retreat Finder</title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#" onClick="window.location.reload();">Retreat Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" onClick="window.location.reload();">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#" onclick=insertAbout()>About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

  </div>
  <div class="container-fluid">
    <div class="row" >
  <div class="col-lg-3" id="createDiv">
        
</div>
  
 <!-- <div class="row" id="cardDiv"></div>-->
 <div class="col-lg-8">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-unstyled">
          <!--  <img class="card-img-top col-1" src="img/_lighthouse.png" />-->
            <h1 class="mt-5" >Let's Meditate!</h1>
            <p class="lead">Find meditation retreats in Dublin</p>
          </ul>
    
      
    </div>
    </div>
  <div class="row" id="cardDiv"></div>
  <div class="col-lg-6" id="button_holder"></div>
  </div>

</div>

</div>


<script src="fetch.js"></script>
<script src="../functions.js"></script>
<script src="view.js"></script>



 
  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.slim.min.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
 
  <link href="table.css" rel="stylesheet"></script>
  
  <link href="tabulator/dist/css/tabulator.min.css" rel="stylesheet"></script>
  <link href="tabulator/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet"></script>
  <script type="text/JavaScript" src="tabulator/dist/js/tabulator.min.js"></script>
  <script type="text/jQuery"src="jquery-3.4.1.min.js"></script>
  <script type="text/jQuery" src="tabulator/dist/js/jquery_wrapper.min.js"></script>
 
  <script src="table.js"></script>  

</body>

</html>
